.movie-page {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  font-family: 'Roboto', sans-serif;
  font-size: xx-large;
  text-align: center;
}

.movie-page img {
  margin: 20px;
  box-shadow: 3px 3px gray;
  height: 400px;
  width: 300px;
  border-radius: 20px;
}

.backBtn {
  display: inline-block;
  margin-top: 55px;
  font-size: xx-large;
  color: var(--secondary-color);
}
