.users-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.user-box {
  overflow: hidden;
  color: var(--secondary-text-color);
  width: 20%;
  padding: 0;
  margin: 10px;
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.user-box img {
  border: 2px solid rgb(77, 74, 74);
}

.user-box img:hover {
  border: 5px solid #fff;
  color: #fff;
}

.user-box img {
  width: 12rem;
  height: auto;
}
